<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl as self">
<head>
    <title></title>
    
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    
<link href="stylesheets/angular-mdb-select.css" rel="stylesheet" />

</head>

<body>
  
   <div class="container">
        <div class="page-header text-center">
            <h3>Select Option Samples</h3>
        </div>

        <div class="col-md-12 well">
            <div class="page-header">
                <b>Single Bind</b>
                <small>return object - with icon in label</small>
            </div>
            <mdb-select ng-model="select"
                        data-label="Movies
                <span class='glyphicon glyphicon-search'></span>"
                data-list="array"
                data-bind="name">
            </mdb-select>
            <hr />
            <div class="well">
                select : {{select}}
            </div>

        </div>

        <hr />

        <div class="col-md-12 well">
            <div class="page-header">
                <b>Single Bind</b>
                <small>return score</small>
            </div>
            <mdb-select ng-model="select2"
                        data-label="Movies"
                        data-list="array"
                        data-model="score"
                        data-bind="name"></mdb-select>
            <hr />
            <div class="well">
                select : {{select2}}
            </div>

        </div>

        <hr />

        <div class="col-md-12 well">
            <div class="page-header">
                <b>Multiple Select</b>
                <small>return array</small>
            </div>
            <mdb-select ng-model="select6"
                        data-list="array"
                        data-label="movies"
                        data-model="name"
                        data-multiple="true"
                        data-bind="name"></mdb-select>

            <hr />
            <div class="well">
                array:
                <ul>
                    <li ng-repeat="item in select6">
                        {{item.name}}
                    </li>
                </ul>
            </div>

        </div>

        <hr />

        <div class="col-md-12 well">
            <div class="page-header">
                <b>Multiple Select</b>
                <small>return array & default values</small>
            </div>
            <mdb-select ng-model="select7"
                        data-list="array2"
                        data-label="movies"
                        data-model="name"
                        data-multiple="true"
                        data-bind="name"></mdb-select>

            <hr />
            <div class="well">
                array:
                <ul>
                    <li ng-repeat="item in select7">
                        {{item.name}}
                    </li>
                </ul>
            </div>

        </div>

        <hr />

        <div class="col-md-12 well">
            <div class="page-header">
                <b>Single Bind</b>
                <small>default Value & return name</small>
            </div>
            <mdb-select ng-model="select3"
                        data-label="Movies"
                        data-list="array"
                        data-model="name"
                        data-bind="name"></mdb-select>
            <hr />
            <div class="well">
                select : {{select3}}
                <hr />
                $scope.select3 = $scope.array[0];
            </div>

        </div>

        <hr />

        <div class="col-md-12 well">
            <div class="page-header">
                <b>Multi Bind</b>
                <small>bind name and score</small>
            </div>
            <mdb-select ng-model="select4"
                        data-label="Movies"
                        data-list="array"
                        data-model="name"
                        data-multi-bind="['name','score']"></mdb-select>
            <hr />
            <div class="well">
                select : {{select4}}
            </div>

        </div>

        <hr />

        <div class="col-md-12 well">
            <div class="page-header">
                <b>Multi Bind</b>
                <small>ng change return object</small>
            </div>
            <mdb-select ng-model="select5"
                        data-label="Movies"
                        data-list="array"
                        ng-change="get(select5)"
                        data-multi-bind="['name','score']"></mdb-select>
            <hr />
            <div class="well">
                otherScope : {{otherScope}}
            </div>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src="javascripts/angular-mdb-select.js"></script>
    <script>
        var app = angular.module("app", ["angularMdbSelect"]);

        app.controller("ctrl", [
            "$scope", function ($scope) {
                $scope.array = [
                    { name: "The Shawshank Redemption", score: 10, code: 1 },
                    { name: "The Godfather", score: 9, code: 2 },
                    { name: "The Dark Knight", score: 8, code: 3 },
                    { name: "Pulp Fiction", score: 5, code: 4 },
                    { name: "Fight Club", score: 7, code: 5 }
                ];

                $scope.array2 = [
                    { name: "The Shawshank Redemption", score: 10, code: 1, set: true },
                    { name: "The Godfather", score: 9, code: 2, set: true },
                    { name: "The Dark Knight", score: 8, code: 3 },
                    { name: "Pulp Fiction", score: 5, code: 4 },
                    { name: "Fight Club", score: 7, code: 5 }
                ];


                $scope.get = function (item) {
                    $scope.otherScope = item;
                }
            }
        ]);
    </script>

</body>
</html>
